<!--Include the header-->
<!--Include the navbar-->
<%- include ('partials/header')%>
<%- include ('partials/navbar')%>
    <h1>Welcome Home Page</h1>
    <h2>Hey: <%=name %></h2>

<!--Include the footer-->

<%- include ('partials/footer')%>

